{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}football-hockey{% endblock title %}</title>
    <style>
        body {
            background: linear-gradient(0.25turn, #14b13c, #ebf8e1, #8dd4f5);
            /* Путь к вашему изображению */
            height: 100vh;
            /* Занимает весь видимый экран */
        }

        div.container {
            /* Стили для div, если нужно */
            padding: 20px;
            background-color: rgba(255, 255, 255, 1);
            /* Полупрозрачный фон для div */
        }
    </style>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Football-Hockey</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-targ\
                    et="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Tog\
gle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'game_list' %}">Home page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </br>
        {% block content %}
        {% endblock content %}
    </div>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>